:host {
 width: 100%;
}

app-dragons-card {
  margin-top: 0.5em;
  max-width: 765px;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    display: grid;

    /* define the number of grid columns */
    grid-template-columns: repeat(1, 1fr);

  }

}
